* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.head {
  background-image: url(img/bg-masthead.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.head .wall {
  padding: 250px;
}

.main-heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
}

.sub-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.banner {
  width: 100%;
  height: 300px;
  text-align: center;
}

.button {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
}
.button a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.ban {
  padding: 100px;
}

.sytl {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
}

.sub-bn {
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  font-weight: lighter;
}

.button1 {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: black;
}
.button1 a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.services {
  width: 100%;
  height: 300px;
  background-color: #1D809F;
  text-align: center;
  padding-top: 60px;
}
.services .ser {
  color: #ECB807;
  font-size: x-small;
  font-weight: bolder;
}
.services h2 {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}
.services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.services .icon .wor {
  padding: 15px;
}
.services .icon .circle {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  border-radius: 50%;
  background-color: white;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30PX;
}
.services .icon .circle a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.services .icon .let {
  font-family: "Times New Roman", Times, serif;
  font-size: x-small;
  font-weight: lighter;
}
.services img {
  height: 30px;
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.welc {
  background-image: url(img/portfolio-4.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.welc .well {
  text-align: center;
  padding-top: 200px;
  font-weight: bolder;
  font-size: xx-large;
}
.welc .down {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
}
.welc .down a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.recents {
  width: 100%;
  height: 700px;
}
.recents .its {
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container .flex-item {
  background-image: url(img/portfolio-1.jpg);
  background-size: cover;
  width: 30vw;
  height: 40vh;
}
.container .flex-item2 {
  background-image: url(img/portfolio-2.jpg);
  background-size: cover;
  width: 30vw;
  height: 40vh;
}

h4 {
  margin-left: 40px;
  padding-top: 140px;
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  font-weight: bolder;
}

.wrd {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: smaller;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container2 .flex-item3 {
  background-image: url(img/portfolio-3.jpg);
  background-size: contain;
  width: 30vw;
  height: 40vh;
}
.container2 .flex-item4 {
  background-image: url(img/portfolio-4.jpg);
  background-size: cover;
  width: 30vw;
  height: 40vh;
}

.cents {
  text-align: center;
  padding-top: 50px;
  color: #ECB807;
  font-size: x-small;
  font-weight: bolder;
}

.below {
  width: 100%;
  height: 250px;
  background-color: #1D809F;
  text-align: center;
}
.below .resist {
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  font-size: x-large;
  padding-top: 60px;
}
.below .click {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: white;
}
.below .click a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.below .click a {
  color: black;
}
.below .look {
  padding: 20px;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: black;
}
.below .look a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.map {
  height: 60vh;
  width: 100%;
}

.pink {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  height: 10vh;
  text-align: center;
  padding: 20px;
}
.footer .cat {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
  width: 50px;
}
.footer .copy {
  font-family: "Times New Roman", Times, serif;
  font-size: x-small;
  font-weight: lighter;
  padding: 30px;
}/*# sourceMappingURL=index.css.map */