* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.head {
  background-image: url(img/bg-masthead.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.head .menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
.head .wall {
  padding: 10rem;
  max-width: 100%;
}
.head .main-heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
}
.head .sub-name {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}
.head .button {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
}
.head .button a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 40vh;
  text-align: center;
}
.banner .ban {
  padding: 10vh;
}
.banner .sytl {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.banner .sub-bn {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  font-weight: lighter;
}
.banner .button1 {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
  background-color: black;
}
.banner .button1 a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.services {
  width: 100%;
  background-color: #1D809F;
  text-align: center;
  padding-top: 60px;
}
.services .ser {
  color: #ECB807;
  font-size: 0.6rem;
  font-weight: bolder;
}
.services h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.services .wor {
  padding: 20px;
  padding-bottom: 40px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .circle {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
  border-radius: 50%;
  background-color: white;
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.services .circle a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.services .let {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: lighter;
  padding: 5px;
}
.services img {
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.welc {
  background-image: url(img/portfolio-4.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.welc .well {
  text-align: center;
  padding-top: 200px;
  font-weight: bolder;
  font-size: 3rem;
}
.welc .down {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
}
.welc .down a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.recents {
  width: 100%;
  padding-bottom: 20px;
  color: white;
}
.recents .its {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.recents .cents {
  text-align: center;
  padding-top: 50px;
  color: #ECB807;
  font-size: 0.6rem;
  font-weight: bolder;
}
.recents h4 {
  margin-left: 60px;
  padding-top: 140px;
  padding-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  font-weight: bolder;
}
.recents .wrd {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 0.9rem;
}
.recents .proj {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  min-height: 450px;
  margin-bottom: 40px;
}
.recents .proj .flex-item {
  background-image: url(img/portfolio-1.jpg);
  background-size: cover;
  width: 35%;
  height: 300px;
}
.recents .proj .flex-item2 {
  background-image: url(img/portfolio-2.jpg);
  background-size: cover;
  width: 35%;
  height: 300px;
}
.recents .proj .flex-item3 {
  background-image: url(img/portfolio-3.jpg);
  background-size: cover;
  width: 35%;
  height: 300px;
}
.recents .proj .flex-item4 {
  background-image: url(img/portfolio-4.jpg);
  background-size: cover;
  width: 35%;
  height: 300px;
}

.below {
  width: 100%;
  height: 40vh;
  background-color: #1D809F;
  text-align: center;
}
.below .resist {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 60px;
  padding-bottom: 15px;
}
.below .click {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
  background-color: white;
  margin: 5px;
  padding-left: 2em;
  padding-right: 2em;
}
.below .click a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.below .click a {
  color: black;
}
.below .look {
  padding: 1em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 35px;
  margin: 5px;
  background-color: black;
  padding-left: 2em;
  padding-right: 2em;
}
.below .look a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.map {
  height: 60vh;
  width: 100%;
}
.map .pink {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  height: 20vh;
  text-align: center;
  padding: 20px;
}
.footer .cat {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
  width: 50px;
}
.footer .copy {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: lighter;
  padding: 30px;
}

@media (max-width: 992px) {
  .head {
    height: 80vh;
  }
  .head .wall {
    padding-top: 12rem;
  }
  .head .main-heading {
    font-size: 5rem;
  }
  .head .sub-name {
    font-size: 1.5rem;
  }
  .head .button {
    font-size: 1em;
  }
  .banner {
    height: 35vh;
  }
  .banner .ban {
    padding: 10vh;
  }
  .banner .sytl {
    font-size: 1.7rem;
    padding-bottom: 20px;
  }
  .banner .sub-bn {
    font-size: 1rem;
  }
  .banner .button1 {
    font-size: 1em;
  }
  .services {
    padding-top: 30px;
  }
  .services .ser {
    font-size: 0.9em;
  }
  .services .wor {
    padding: 20px;
  }
  .services h3 {
    font-size: 1.5rem;
  }
  .services .let {
    font-size: 1rem;
  }
  .welc {
    height: 50vh;
  }
  .below {
    height: 20vh;
  }
  .below .click {
    font-size: 1em;
  }
  .below .look {
    font-size: 1em;
  }
  .map {
    height: 30vh;
  }
  .map .pink {
    height: 30vh;
  }
}
@media (max-width: 768px) {
  .head {
    height: 70vh;
  }
  .head .wall {
    padding-top: 10rem;
  }
  .head .main-heading {
    font-size: 3.9em;
  }
  .head .sub-name {
    font-size: 1.4rem;
  }
  .head .button a {
    font-size: rem;
  }
  .banner {
    height: 25vh;
  }
  .banner .ban {
    padding: 5vh;
  }
  .banner .sytl {
    font-size: 1.4rem;
  }
  .banner .sub-bn {
    font-size: 0.7rem;
  }
  .banner .button1 a {
    font-size: 0.8rem;
  }
  .services {
    padding-top: 30px;
  }
  .services h2 {
    font-size: 2rem;
  }
  .services .let {
    font-size: 0.7rem;
    padding: 5px;
  }
  .services .icon {
    flex-wrap: wrap;
  }
  .services .wor {
    margin: 20px;
  }
  .services .circle {
    width: 5em;
    height: 5em;
  }
  .services img {
    height: 90%;
    width: 90%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .welc {
    height: 80vh;
  }
  .welc .well {
    font-size: 2rem;
  }
  .welc .down {
    padding: 0.5em;
  }
  .welc {
    height: 50vh;
  }
  .welc .down {
    padding: 1em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    background-color: #1D809F;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 35px;
  }
  .welc .down a {
    color: white;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  .recents .wrd {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.9rem;
  }
  .recents .its {
    font-size: 2rem;
  }
  .recents .proj {
    display: flex;
    flex-wrap: wrap;
  }
  .recents .flex-item {
    width: 60%;
  }
  .below {
    height: 230px;
  }
  .below .resist {
    font-size: 1.5rem;
  }
  .map {
    height: 30vh;
  }
  .map .pink {
    height: 30vh;
  }
  .footer {
    height: 5px;
    padding: 10px;
  }
  .footer .cat {
    width: 40px;
  }
  .footer .copy {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .head .wall {
    padding: 5rem;
  }
  .head .main-heading {
    font-size: 3rem;
  }
  .head .sub-name {
    font-size: 1rem;
  }
  .head .button {
    padding: 0.8em;
  }
  .head .button a {
    font-size: 0.8em;
  }
  .banner {
    height: 35vh;
  }
  .banner .sub-bn {
    font-size: 0.6rem;
  }
  .banner .button1 {
    padding: 0.8em;
  }
  .services .wor {
    padding: 5px;
  }
  .welc .well {
    padding-top: 100px;
    font-size: 2rem;
  }
  .welc .down .button {
    margin: 20px;
    padding: 0.5em;
  }
  .welc .down .button a {
    font-size: 0.7rem;
  }
  .recents .its {
    font-size: 2rem;
  }
  .recents h4 {
    margin-left: 40px;
    padding-top: 140px;
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
    font-weight: bolder;
  }
  .recents .wrd {
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-size: 0.9rem;
  }
  .recents .proj .flex-item {
    width: 80%;
  }
  .recents .proj .flex-item2 {
    width: 80%;
  }
  .recents .proj .flex-item3 {
    width: 80%;
  }
  .recents .proj .flex-item4 {
    width: 80%;
  }
  .below .resist {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */