

*{
    margin: 0;
    padding: 0;
    
    
}

$font-st: 'Times New Roman', Times, serif;
$color-pry: #1D809F;
@mixin col{
    color: #ECB807;
    font-size: 0.6rem;
    font-weight: bolder;
    
}
@mixin we{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

@mixin flex{
    display: flex;
   align-items: center;
   justify-content: center;
}


@mixin buttons{
    padding: 1em;
    padding-left: 1.8em;
    padding-right: 1.8em;
   background-color: $color-pry;
   color: white;
   border: none;
   border-radius: 4px;
   margin: 35px;
   a{
    color: white;
   text-decoration: none;
   font-family: $font-st;
   font-weight: bold;
   
   }

}
body{
    overflow-x: hidden;

}
.head{
   background-image: url(img/bg-masthead.jpg);
   background-repeat: no-repeat; 
   background-position: center;
   background-size: cover;
   text-align: center;
   width: 100%;
   height: 100vh;




   .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px 20px;
   
    
}

#menu-toggle {
    display: none;
 
  
}
.nav-links {
    display: none;
    list-style: none;
    padding-top: 10px; 
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}


#menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
}


label[for="menu-toggle"] {
    cursor: pointer;
    font-size: 30px;
    padding: 10px;

    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.651);
}










































   .wall{
    padding: 10rem;
     max-width: 100%;
    
 }
 .main-heading{
    font-family: $font-st;
    font-size: 5rem;

}


.sub-name{
    font-family: $font-st;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
   
    
  }
  .button{
    @include buttons;
   
 }
}

.banner{
    width: 100%;
    height: 40vh;
   text-align: center;

   
.ban{
    padding: 10vh;
   
}
.sytl{
    font-family: $font-st;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    
}
.sub-bn{
    font-family: $font-st;
    font-size: 0.8rem;
    font-weight:lighter ;
    
}
.button1{
    @include buttons;
    background-color: black;
    
}
}

.services{

    width: 100%;
    background-color: $color-pry;
    text-align: center;
    padding-top: 60px;

    .ser{
       @include col;
    }

    h2{
        @include we;
    }  
  
.icon{
    @include flex;
color: white;


}
.wor{
   
    padding: 20px;
    padding-bottom: 40px;
    width: 200px;
    height: 200px;
    @include flex;
    flex-direction: column;
}

.circle{
    @include buttons;
    border-radius: 50%;
   background-color: white;
   width: 6em;
   height: 6em;
   @include flex;
  margin: 10px;
 
} 

.let{
    font-family: $font-st;
 font-size: 0.6rem;
    font-weight:lighter;
    padding: 5px;
}
img{
    height: 80%;
    width:80%;
    object-fit: contain;
    
}
  
}

.welc{
    background-image: url(img/portfolio-4.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .well{
        text-align: center;
        padding-top: 200px;
        font-weight: bolder;
         font-size: 3rem;
        }
        
        .down{
            @include buttons;
            
        }
}

.recents{
    width: 100%;
    padding-bottom: 20px;
    color: white;
   
    .its{
        text-align: center;
        @include we;
        color: black;

    }
    .cents{
        text-align: center;
       padding-top: 50px;
       @include col;
       
    }
    h4{
        margin-left: 60px;
        padding-top: 140px;
        padding-bottom: 10px;
        font-family: $font-st;
        font-size: smaller;
        font-weight: bolder;
        
     }
    
         
    .wrd{
        margin-left: 60px;
        margin-right: 60px;
        font-family: $font-st;
        font-weight: lighter;
        font-size: 0.9rem;
         
     }
    
    .proj{

        @include flex;
        
        flex-wrap: wrap;
        margin-top: 20px;
        min-height: 450px;
        margin-bottom: 40px;
        

        .flex-item{
            background-image: url(img/portfolio-1.jpg);
            background-size: cover;
            width: 35%;
                height: 300px;
            
           } 
           
           .flex-item2{
               background-image: url(img/portfolio-2.jpg);
               background-size: cover;
               width: 35%;
               height: 300px;
           }
             .flex-item3{
           background-image: url(img/portfolio-3.jpg);
           background-size: cover;
           width: 35%;
           height: 300px;
       }
       .flex-item4{
           background-image: url(img/portfolio-4.jpg);
           background-size: cover;
           width: 35%;
           height: 300px;
       }
    }
 
   
 }


.below{
    width: 100%;
    height: 40vh;
    background-color: $color-pry;
    text-align: center;

    .resist{
    text-align: center;
    @include we;
    font-size: 2rem;
    padding-top: 60px;
   padding-bottom: 15px
}

.click{
    @include buttons;
    background-color: white;
    margin: 5px;
    padding-left: 2em;
    padding-right: 2em;
    a{
        color: black;
    }
}

.look{
    @include buttons;
    margin: 5px;
    background-color: black;
    padding-left: 2em;
    padding-right: 2em;
}
}
   
.map{
    height: 60vh;
    width: 100%;
    .pink{
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
   }
   
.footer{
   height: 20vh;
   text-align: center;
   padding: 20px;
   
.cat{
    object-fit: contain;
    margin: 10px;
    width: 50px;
}
.copy{
    font-family: $font-st;
    font-size: 0.6rem;
    font-weight: lighter;
    padding: 30px;
}
}





@media (max-width: 992px) { 

    .head{
        height: 80vh;
     
        .wall{
            padding-top: 12rem;
        }
      .main-heading{
         font-size: 5rem;
     }
     
     
     .sub-name{
         font-size: 1.5rem;
       }
       .button{
         font-size: 1em;
        
      }
     }

     .banner{
        height: 35vh;
    
    .ban{
        padding: 10vh;
       
    }
    .sytl{
        font-size: 1.7rem;
        padding-bottom: 20px;
        
    }
    
    .sub-bn{
        font-size: 1rem;
        
    }
    .button1{
       
        font-size: 1em;
    }
    }

    .services{

        padding-top: 30px;
    
        .ser{
           font-size: 0.9em
        }
       
    .wor{
        padding: 20px;
        
    }

    
    h3{
        font-size: 1.5rem;
    }

    .let{
     font-size: 1rem;

    }
      
    }
    .welc{
        height: 50vh;
    }

    .below{
        height: 20vh;
        .click{
            font-size: 1em;
        }
        .look{
            font-size: 1em;
        }
    }

   
    .map{
        height: 30vh;
        .pink{
            height: 30vh;
        }

    }





























}


@media (max-width: 768px) { 

    .head{
        height: 70vh;
     
        .wall{
         padding-top: 10rem;
         
      }
      .main-heading{
             
        font-size: 3.9em;
   
   }
     .sub-name{
        font-size: 1.4rem;
        
      }
      .button{
       
            a{
                font-size: rem;
            }
      }
      
     }
     

     .banner{
        height: 25vh;

        .ban{
            padding: 5vh;
        
             }
             .sytl{
                
                font-size: 1.4rem;
        }
        .sub-bn{
          
            font-size: 0.7rem;
            
        }
        .button1{
           
            a{
                font-size: 0.8rem;
            }
        }
    
        }
        

        .services{
            padding-top: 30px;
        
            h2{
                font-size: 2rem;
            }
            
            .let{
            
            font-size: 0.7rem;
            padding: 5px;
            
            } 
            
            .icon{
            flex-wrap: wrap;
            }

            .wor{
           margin: 20px;
            
            }
            
            .circle{
            width: 5em;
            height: 5em;
           
            }

            img{
                height: 90%;
                width:90%;
                object-fit: contain;
                
            }
        }


        .welc{
            height: 80vh;
            .well{
                font-size: 2rem;
            }
            .down{
                padding: 0.5em;
            }
        }


.welc{
    height: 50vh;
    .down{
        @include buttons;
    }
}


        .recents{

            .wrd{
                margin-left: 30px;
                margin-right: 30px;
                font-size: 0.9rem;
                 
             }
             
             .its{
                 font-size: 2rem;
             }

             .proj{
                display: flex;  
                flex-wrap: wrap;
                
             }
             .flex-item{
                width: 60%;
             }
             

        }

        

        .below{
            height: 230px;
            .resist{
                font-size: 1.5rem;
            }
         
        }
        
        
        .map{
            height: 30vh;
            .pink{
                height: 30vh;
            
            }
           }
        
           .footer{
            height: 5px;
            padding: 10px;
         .cat{
             width: 40px;
         }
         .copy{
             padding: 10px;
         }
         }    
              
 }

 @media (max-width: 576px) { 

   
    .head{
     
        .wall{
         padding: 5rem;
         
      }
      .main-heading{
         font-size: 3rem;
     
     }
     
     .sub-name{
         
         font-size: 1rem;
         
       }
       .button{
         padding: 0.8em;
         a{
            font-size: 0.8em;
         }
        
      }
     }

     .banner{
        height: 35vh;
        .sub-bn{
            font-size: 0.6rem;
            
        }
        .button1{
          padding: 0.8em;
            
        }


     }
.services{
    .wor{
        padding: 5px;
    }
}

     .welc{
    
        .well{
           
            padding-top: 100px;
             font-size: 2rem;
            }
            
            .down{
                .button{
                    margin: 20px;
                    padding: 0.5em;
                    a{
                       font-size: 0.7rem;
                    }
                   
                 }
                
                
                
            }
    }

    .recents{
       
       
        .its{
           font-size: 2rem;
    
        }
        
        h4{
            margin-left: 40px;
            padding-top: 140px;
            font-family: $font-st;
            font-size: smaller;
            font-weight: bolder;
            
         }
        
             
        .wrd{
            margin-left: 40px;
            margin-right: 40px;
            font-family: $font-st;
            font-weight: lighter;
            font-size: 0.9rem;
             
         }
        
        .proj{
    
            .flex-item{
                width: 80%;
                    
                
               } 
               
               .flex-item2{
                  
                   width: 80%;
                   
               }
                 .flex-item3{
               width: 80%;
              
           }
           .flex-item4{
               width: 80%;
              
           }
        }
     
       
     }



.below{
    .resist{
        font-size: 1rem;
    }
}


 }
