

*{
    margin: 0;
    padding: 0;
    
    
}

$font-st: 'Times New Roman', Times, serif;
$color-pry: #1D809F;
@mixin col{
    color: #ECB807;
    font-size: 0.6rem;
    font-weight: bolder;
    
}
@mixin we{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

@mixin flex{
    display: flex;
   align-items: center;
   justify-content: center;
}


@mixin buttons{
    padding: 1em;
   background-color: $color-pry;
   color: white;
   border: none;
   border-radius: 5px;
   margin: 35px;
   a{
    color: white;
   text-decoration: none;
   font-family: $font-st;
   font-weight: bold;
   }

}
body{
    overflow-x: hidden;

}
.head{
   background-image: url(img/bg-masthead.jpg);
   background-repeat: no-repeat; 
   background-position: center;
   background-size: cover;
   text-align: center;
   width: 100%;
   height: 95vh;

   .wall{
    padding: 10rem;
     max-width: 100%;
    
 }
 .main-heading{
    font-family: $font-st;
    font-size: 5rem;

}


.sub-name{
    font-family: $font-st;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
   
    
  }
  .button{
    @include buttons;
   
 }
}




.banner{
    width: 100%;
    height: 50vh;
   text-align: center;

   
.ban{
    padding: 15vh;
   
}
.sytl{
    font-family: $font-st;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.sub-bn{
    font-family: $font-st;
    font-size: 0.8rem;
    font-weight: lighter;
    
}
.button1{
    @include buttons;
    background-color: black;
    
}
}




.services{

    width: 100%;
    height: 60vh;
    background-color: $color-pry;
    text-align: center;
    padding-top: 60px;

    .ser{
       @include col;
    }

    h2{
        @include we;
    }  
  
.icon{
    @include flex;
color: white;

}
.wor{
    padding: 15px;
}

.circle{
    @include buttons;
    border-radius: 50%;
   background-color: white;
   width: 6em;
   height: 6em;
   @include flex;
   margin-left: 30PX;
} 

.let{
    font-family: $font-st;
 font-size: 0.6rem;
    font-weight:lighter;
}
img{
    height: 60%;
    width:60%;
    object-fit: contain;
    
}
  
}




.welc{
    background-image: url(img/portfolio-4.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .well{
        text-align: center;
        padding-top: 200px;
        font-weight: bolder;
         font-size: 3rem;
        }
        
        .down{
            @include buttons;
            
            
            
        }
}

.recents{
    width: 100%;
    height: 120vh; 
   
    .its{
        text-align: center;
        @include we;
        color: black;

    }
    .cents{
        text-align: center;
       padding-top: 50px;
       @include col;
       
    }
    .container{
        padding-top: 50px;
        @include flex;
        color: white;
        
     
        .flex-item{
         background-image: url(img/portfolio-1.jpg);
         background-size: cover;
         width: 30%;
             height: 40vh;
         
        } 
        
        .flex-item2{
            background-image: url(img/portfolio-2.jpg);
            background-size: cover;
            width: 30%;
            height: 40vh;
        }
        
     }
     h4{
        margin-left: 40px;
        padding-top: 140px;
        font-family: $font-st;
        font-size: smaller;
        font-weight: bolder;
        
     }
     
.wrd{
    margin-left: 40px;
    margin-right: 40px;
    font-family: $font-st;
    font-weight: lighter;
    font-size: 0.9rem;
     
 }
 .container2{
    @include flex;
    color: white;
   
    
    .flex-item3{
        background-image: url(img/portfolio-3.jpg);
        background-size: cover;
        width: 30%;
        height: 40vh;
    }
    .flex-item4{
        background-image: url(img/portfolio-4.jpg);
        background-size: cover;
        width: 30%;
        height: 40vh;
    }
}
}








.below{
    width: 100%;
    height: 40vh;
    background-color: $color-pry;
    text-align: center;

    .resist
{
    text-align: center;
    @include we;
    font-size: 2rem;
    padding-top: 60px;
   
}

.click{
    @include buttons;
    background-color: white;
    a{
        color: black;
    }
}

.look{
    @include buttons;
    background-color: black;
}
}
   .map{
    height: 60vh;
    width: 100%;
    .pink{
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
   }
   
    
.footer{
   height: 10vh;
   text-align: center;
   padding: 20px;
   
.cat{
    object-fit: contain;
    margin: 10px;
    width: 50px;
}
.copy{
    font-family: $font-st;
    font-size: 0.6rem;
    font-weight: lighter;
    padding: 30px;
}
}

@media (max-width: 768px) { 



    .head{
        // height: 60vh;
     
        .wall{
         padding: 5rem;
          max-width: 100%;
     
          .main-heading{
             
              font-size: 3rem;
         
           
         
         }
         
      }
     
     }
     .sub-name{
        font-family: $font-st;
        font-weight: bold;
        font-size: 1rem;
        font-style: italic;
       
        
      }
 }



 .banner{
    
    // height: 45vh;

.ban{
    padding: 5vh;

    .sytl{
        font-family: $font-st;
        font-size: 1.5rem;
        
        .sub-bn{
            font-family: $font-st;
            font-size: 0.3rem;
            
        }
    }
}



}

.services{
    padding-top: 30px;

}
h2{

    font-size: 1rem;
}

.let{

font-family: $font-st;
font-size: 0.9rem;

} 

.icon{
flex-wrap: wrap;
}
.wor{
padding: 5px;
}

.circle{
width: 2em;
height: 10em;
border: 1px solid #000;
}

.well{
    font-size: 2rem;
}

.wrd{
   margin-left: 30px;
   margin-right: 30px;
   font-family: $font-st;
   font-size: 1rem;
    
}

.its{
    font-size: 2rem;
}

.resist{
    font-size: 1rem;
}
.below{
    // height: 30vh;
  

}


.map{
    // height: 40vh;
    
    .pink{
        height: 40vh;
    
    }
   }











