* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.head {
  background-image: url(img/bg-masthead.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 95vh;
}
.head .wall {
  padding: 10rem;
  max-width: 100%;
}
.head .main-heading {
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
}
.head .sub-name {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}
.head .button {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
}
.head .button a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 50vh;
  text-align: center;
}
.banner .ban {
  padding: 15vh;
}
.banner .sytl {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.banner .sub-bn {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  font-weight: lighter;
}
.banner .button1 {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: black;
}
.banner .button1 a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.services {
  width: 100%;
  height: 60vh;
  background-color: #1D809F;
  text-align: center;
  padding-top: 60px;
}
.services .ser {
  color: #ECB807;
  font-size: 0.6rem;
  font-weight: bolder;
}
.services h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.services .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.services .wor {
  padding: 15px;
}
.services .circle {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  border-radius: 50%;
  background-color: white;
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30PX;
}
.services .circle a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.services .let {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: lighter;
}
.services img {
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.welc {
  background-image: url(img/portfolio-4.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.welc .well {
  text-align: center;
  padding-top: 200px;
  font-weight: bolder;
  font-size: 3rem;
}
.welc .down {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
}
.welc .down a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.recents {
  width: 100%;
  height: 120vh;
}
.recents .its {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.recents .cents {
  text-align: center;
  padding-top: 50px;
  color: #ECB807;
  font-size: 0.6rem;
  font-weight: bolder;
}
.recents .container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.recents .container .flex-item {
  background-image: url(img/portfolio-1.jpg);
  background-size: cover;
  width: 30%;
  height: 40vh;
}
.recents .container .flex-item2 {
  background-image: url(img/portfolio-2.jpg);
  background-size: cover;
  width: 30%;
  height: 40vh;
}
.recents h4 {
  margin-left: 40px;
  padding-top: 140px;
  font-family: "Times New Roman", Times, serif;
  font-size: smaller;
  font-weight: bolder;
}
.recents .wrd {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 0.9rem;
}
.recents .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.recents .container2 .flex-item3 {
  background-image: url(img/portfolio-3.jpg);
  background-size: cover;
  width: 30%;
  height: 40vh;
}
.recents .container2 .flex-item4 {
  background-image: url(img/portfolio-4.jpg);
  background-size: cover;
  width: 30%;
  height: 40vh;
}

.below {
  width: 100%;
  height: 40vh;
  background-color: #1D809F;
  text-align: center;
}
.below .resist {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 60px;
}
.below .click {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: white;
}
.below .click a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.below .click a {
  color: black;
}
.below .look {
  padding: 1em;
  background-color: #1D809F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 35px;
  background-color: black;
}
.below .look a {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.map {
  height: 60vh;
  width: 100%;
}
.map .pink {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  height: 10vh;
  text-align: center;
  padding: 20px;
}
.footer .cat {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
  width: 50px;
}
.footer .copy {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: lighter;
  padding: 30px;
}

@media (max-width: 768px) {
  .head .wall {
    padding: 5rem;
    max-width: 100%;
  }
  .head .wall .main-heading {
    font-size: 3rem;
  }
  .sub-name {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1rem;
    font-style: italic;
  }
}
.banner .ban {
  padding: 5vh;
}
.banner .ban .sytl {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
.banner .ban .sytl .sub-bn {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.3rem;
}

.services {
  padding-top: 30px;
}

h2 {
  font-size: 1rem;
}

.let {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9rem;
}

.icon {
  flex-wrap: wrap;
}

.wor {
  padding: 5px;
}

.circle {
  width: 2em;
  height: 10em;
  border: 1px solid #000;
}

.well {
  font-size: 2rem;
}

.wrd {
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.its {
  font-size: 2rem;
}

.resist {
  font-size: 1rem;
}

.map .pink {
  height: 40vh;
}/*# sourceMappingURL=index.css.map */